body {
  background: linear-gradient(to bottom, #D3D3D3,#cc7722);
  font-family: Arial, Helvetica, sans-serif;
}

/* Header */
header {
  text-align: center;
  font-size: 2em;
  font-weight: bold;
  padding: 2em;
  background-color: #8fbc8f;
  color: white;
}

/* Navigation Menu */
header ul {
  list-style-type: none;
  padding: 0;
  margin: 0;
  display: flex;
  justify-content: center;
  gap: 1rem;
}

header ul li a {
  text-decoration: none;
  color: white;
  padding: 0.5em 1em;
  transition: background-color 0.3s ease, color 0.3s ease;
}

header ul li a:hover {
  background-color: #36648b;
  color: #f0f8ff;
}

/* Section Hover Effect */
section {
  transition: transform 0.4s ease;
}

section:hover {
  transform: scale(1.02);
}

/* Main Content */

main section {
  margin-bottom: 3em;
  margin-top: 3em;
  padding: 2em;
  box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.2);
  background- color: #fffaf0;
  border: solid #d3d3d3;
}



/* Footer styling for contrast and reliability*/
footer {
  font-size: 0.6em;
  text-align: center;
  padding: 1em;
  background-color: #f0f8ff;
  color: #00008b;
}
